<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Scottish Animal Shelter</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <nav id="menu">
      <li class="menu-item"><a href='/shelter'>Home</a></li>
      <li class="menu-item"><a href='/shelter/animals'>All animals</a></li>
      <li class="menu-item"><a href='/shelter/newanimal'>New animal<a></li>
      <li class="menu-item"><a href='/shelter/owners'>All owners<a></li>
      <li class="menu-item"><a href='/shelter/newowner'>New owner<a></li>
      <li class="menu-item"><a href='/shelter/animals/adoption-ready'>Animals ready for adoption<a></li>
      <li class="menu-item"><a href='/shelter/animals/not-adoption-ready'>Animals not ready for adoption<a></li>
    
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
