<form action="/shelter/newanimal" method="post">

  <label for="Name">Name:</label>
  <input type="text" name="name" id="name">

  <label for="type">Type:</label>
  <input type="text" name="type" id="type">

  <label for="breed">Breed:</label>
  <input type="text" name="breed" id="breed">

  <label for="admission_date">Admission date (dd/mm/yyyy):</label>
  <input type="text" name="admission_date" id="admission_date">

  <label for="adoption_ready">Ready for adoption:</label>
  <input type="checkbox" name="adoption_ready" id="adoption_ready">

  <input type="submit" value="Add animal">

</form>
