body {
  color: white;
  background-color: grey;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
}

nav {
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 20px;
  color: white;
}
nav a {
  align-items: center;
  color: white;
}

form {
  margin: 10px;
  text-align: center;
}

form label {
  font-size: 20px;
  padding: 10px;
}

.animal {
  text-align: center;
  border: 5px solid;
  margin: 0 35px 30px 0;
  padding: 25px;
  width: 200px;
  display: inline-block;
}

img.a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: 10px solid;
  border-color: green;
  border-radius: 25px;
}
