body {
  color: white;
  background: #666699;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  text-align: center;
  color: pink;
}

nav {
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 20px;
  color: white;
}
nav a {
  align-items: center;
  color: white;

}
nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a:active {
  background-color: #4CAF50;
  color: red;
}

form {
  margin: 10px;
  text-align: center;
}

form label {
  font-size: 20px;
  padding: 10px;
}

p.a {
  text-align: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    text-align: center;
    border: 10px solid black;
}

.content {
  padding: 20px;
  opacity: 1.0;
}

img.a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: 10px solid;
  border-color: green;
  border-radius: 25px;
}

ul li {
  text-align: left;
  font-style: italic;
  font-style:
}
